/** @format */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Oswald:wght@200;300&family=Source+Serif+4:opsz,wght@8..60,500&display=swap");
body {
  margin: 0;
}
header {
  height: 100vh;
}
.landingSection {
  padding-top: 5%;
  background-image: url("../../../public/glacier.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.motto {
  font-family: "Fira-Sans";
  color: #fff;
  text-align: center;
  font-size: 600%;
  margin-bottom: 20%;
}

.tosignup {
  font-family: "Montserrat";
  /* background-color: black #046836; */
  background-color: black;
  border-radius: 8px;
  font-size: 200%;
  margin: 0 auto;
  border: 3px solid white;
  color: white;
  padding: 1%;
  margin-bottom: 5%;
  transition: background-color 0.75s;
}

.tosignup:hover {
  background-color: #9a4848;
}

.valueproposition > h3 {
  font-family: "Fira-Sans";
  text-align: center;
  color: #9a4848;
  font-size: 200%;
}

.valueproposition {
  margin-top: 4%;
  padding-bottom: 4%;
}

.valueproposition > p {
  width: 90%;
  font-size: 130%;
  line-height: 1.6;
  font-family: "Montserrat";
  margin: 0 auto;
}

.valueproposition > p > a {
  font-style: italic;
  font-weight: bold;
}

.footer {
  background-color: #9a4848;
  color: white;
  padding: 1px 0 1px 0;
}

.footer > h4 {
  text-align: center;
  font-size: 200%;
  font-family: "Fira-Sans";
  margin-bottom: 5px;
  margin-top: 2.5px;
}

.footer > h6 {
  color: white;
  font-family: "Montserrat";
  text-align: center;
  font-size: 110%;
  margin-bottom: 2.5px;
}
